<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>대댓글 작성하기</h2>
    <form method="POST" action="{% url 'create_reply' comment_id=parent_comment.id %}">
        {% csrf_token %}
        <input type="hidden" name="comment_id" value="{{ parent_comment.id }}">
        <textarea name="content"></textarea>
        <input type="submit" value="대댓글 저장">
    </form>
    <a href="{% url 'detail' article_id=parent_comment.article.id %}">상세 페이지로 돌아가기</a>
</body></html>