<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tododetail.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="background flex">
        <div class="contentWrapper flex">
            {% for Todo in Todos %}
            <h2 class="title">{{ Todo.title }}</h2>
            <div class="deadlineWrapper flex">
                <span>deadline: {{ Todo.end_date }}</span>
            </div>
            <p>{{ Todo.content }}</p>
            <div class="foot flex">
                <a class="flex" href="{% url 'todohome' %}">cancle</a>
                <a class="flex margin" href="{% url 'todoupdate' Todo.id %}">edit</a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
